<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Switch backoffice</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.2.1/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./content/css/customCSS.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css">
    <!-- LIBRERIAS EXTERNAS -->


    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.1/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>



    <!-- Vue Currency Filter Dependency -->
    <script src="https://unpkg.com/vue-currency-filter@3.2.3/dist/vue-currency-filter.iife.js"></script>
    <!-- Change 3.2.3 with latest version -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="loadingtest" v-html="HTMLcontent" class="hide"></div>
    <!--Navigation-->
    <div id="testNav" v-html="HTMLcontent"></div>
    <!--Navigation-->
    <!--BODY-->
    <div class="alert alert-success" role="alert" hidden>
        Datos Actualizados
    </div>
    <div id="transaccionesOnline" class="col-lg-12" v-cloak>

        <v-alert id="idAlertas" v-if="alert" class="bg-success text-light" type="success">
            <div class="col-lg-12 row noPadding">
                <div class="col-lg-10 noPadding" style="padding-left: 20px !important">Datos Actualizados</div>
                <div class="col-lg-2 noPadding text-right"><button id="btnTest" @click="closeAlert"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
        </v-alert>

        <div class="container">
            <!--            <input type="text" id="testAutonumeric" value="123.412.34" />-->
            <div class="row">
                <div class="input-group">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <form @submit.prevent="buscarCliente">
                            <div id="ddTienda" v-html="HTMLcontent"></div>
                            <!--compontente.js-->
                        </form>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
        <div class="row divResumenes mt-4 mb-4">
            <div class="col-lg-4 divResumenesCards">
                <div class="card bg-light">
                    <div class="card-header text-center resumenCantidadTitulo bg-blue text-light">Ventas</div>
                    <div class="card-body cardBodyTotal">
                        <div class="col-lg-12 resumenCantidadVentas">
                            <i class="fa fa-shopping-cart text-primary"></i>
                            {{ datos_clientes_totales.totaltxventa }}
                        </div>
                        <div class="row">
                            <div class="col-lg-6 text-center labelTotal bg-blue text-light noPadding">
                                Total:
                            </div>
                            <div class="col-lg-6 text-center dataTotal noPadding border-blue">
                                <span v-if="datos_clientes_totales.sumatxventa.montotrx__sum">
                                    {{ datos_clientes_totales.sumatxventa.montotrx__sum | currency}}</span>
                                <span v-else> No hay
                                    Ventas</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 divResumenesCards">
                <div class="card bg-light">
                    <div class="card-header text-center text-light resumenCantidadTitulo bg-success">Avance</div>
                    <div class="card-body cardBodyTotal">
                        <div class="col-lg-12 resumenCantidadVentas">
                            <i class="fa fa-money text-success"></i>
                            {{ datos_clientes_totales.totaltxavance }}
                        </div>
                        <div class="row">
                            <div class="col-lg-6 text-center labelTotal bg-success text-light noPadding">
                                Total:
                            </div>
                            <div class="col-lg-6 text-center dataTotal noPadding border-success">
                                <span v-if="datos_clientes_totales.sumatxavance.montotrx__sum">
                                    {{ datos_clientes_totales.sumatxavance.montotrx__sum | currency}}
                                </span>
                                <span v-else>No hay
                                    Avances</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 divResumenesCards">
                <div class="card bg-light">
                    <div class="card-header text-center text-light resumenCantidadTitulo bg-danger">Pago</div>
                    <div class="card-body cardBodyTotal">
                        <div class="col-lg-12 resumenCantidadVentas">
                            <i class="fa fa-credit-card text-danger"></i>
                            {{ datos_clientes_totales.totaltxpago }}
                        </div>
                        <div class="row">
                            <div class="col-lg-6 text-center labelTotal bg-danger text-light noPadding">
                                Total:
                            </div>
                            <div class="col-lg-6 text-center dataTotal noPadding border-danger">
                                <span v-if="datos_clientes_totales.sumatxpago.montotrx__sum">
                                    {{ datos_clientes_totales.sumatxpago.montotrx__sum | currency  }}
                                </span>
                                <span v-else>No Hay Pagos</span>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class=" card border-bg-blue">
            <div class="card-header text-center bg-blue text-light resumenCantidadTitulo">
                <div class="row col-lg-12 noPadding">
                    <div class="col-lg-4 noPadding"></div>
                    <div class="col-lg-4 noPadding">Transacciones</div>
                    <div class="col-lg-4 row noPadding">
                        <div class="col-lg-10 noPadding"></div>
                        <div class="col-lg-2 noPadding">
                            <button class="btn-block" @click="actualizarTiendaIntervalo">
                                <i id="btnRefresh" class="fa fa-refresh noPadding"></i></button>
                        </div>

                    </div>
                </div>


            </div>
            <div class="card-body noPadding">
                <v-app id="inspire">
                    <v-data-table :headers="headers" :loading="loading"
                        loading-text="Cargando Datos... Porfavor Espere." :hide-default-footer="false"
                        :items="datos_clientes" class="elevation-1">
                    </v-data-table>
                </v-app>
                <div class="col-lg-12 noPadding row">
                    <div class="col-lg-11"></div>
                    <div class="col-lg-1">
                        <button class="btn-excel btn btn-success noPadding btn-block" @click="descargarExcel"><i
                                class="fa fa-file-excel-o "></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="version" class="text-center" v-html="HTMLcontent"></div>


    </div>
    <!-- LIBRERIAS EXTERNAS -->


    <script src="./js/version.js?=1"></script>
    <script src="./js/componentes.js?=1"></script>
    <script src="./js/transaccionesOnline.js?=1"></script>
    <script src="./js/filtros.js?=1"></script>


    <!--BODY-->

</body>

</html>